<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bj.train.dao.LeaderSpeechDao">
    <select id="selectAll" resultType="com.bj.train.pojo.LeaderSpeech">
        select * from leader_speech order by create_time desc
    </select>

    <insert id="insert" parameterType="com.bj.train.pojo.LeaderSpeech" useGeneratedKeys="true" keyProperty="id">
        insert into leader_speech (id, title,detail,main_image,create_time,creater,operate_time,operator)
        values (#{id}, #{title},#{detail},#{mainImage}, #{createTime},#{creater},#{operateTime},#{operate})
     </insert>

    <delete id="remove" >
        delete from leader_speech where id =#{id}
    </delete>

</mapper>