<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bj.train.dao.TrainFilesDao">
    <select id="selectAll" resultType="com.bootdo.train.pojo.TrainFiles">
        select * from train_files order by create_time desc
    </select>

    <insert id="insert" parameterType="com.bootdo.train.pojo.TrainFiles" useGeneratedKeys="true" keyProperty="id">
        insert into train_files (title,detail,main_image,create_time,creater,operate_time,operator)
        values (#{title},#{detail},#{mainImage}, #{createTime},#{creater},#{operateTime},#{operate})
     </insert>

    <delete id="remove" >
        delete from train_files where id =#{id}
    </delete>

    <select id="selectById" resultType="com.bootdo.train.pojo.TrainFiles">
        select * from train_files where id =#{id}
    </select>


</mapper>