<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bj.train.dao.TrainInfoDao">
    <select id="selectAll" resultType="com.bootdo.train.pojo.TrainInfo">
        select * from train_info order by create_time desc
    </select>

    <insert id="insert" parameterType="com.bootdo.train.pojo.TrainInfo" useGeneratedKeys="true" keyProperty="id">
        insert into train_info (id, title,detail,main_image,create_time,creater,operate_time,operator)
        values (#{id}, #{title},#{detail},#{mainImage}, #{createTime},#{creater},#{operateTime},#{operate})
     </insert>

    <delete id="remove" >
        delete from train_info where id =#{id}
    </delete>

    <select id="selectById" resultType="com.bootdo.train.pojo.TrainInfo">
        select * from train_info where id=#{id}
    </select>

</mapper>