<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.learning.dao.PositionDao">


<!-- useGeneratedKeys="true"	-->
    <insert id="save" parameterType="com.bootdo.learning.entity.Position"
            keyProperty="id">
		insert into position
		(
		`id`,
		`name`,
		`salary`,
		`city`
		)
		values
		(
		#{id},
		#{name},
		#{salary},
		#{city}
		)
	</insert>

</mapper>